mixin language(args)
	.c-lang
		.c-lang__wrapper
			form(action="#").c-lang__form
				button.c-lang__form__btn
					span UA
			.c-lang__line 
				span /
			form(action="#").c-lang__form
				button.c-lang__form__btn
					span EN